.App {
  height: 100%;
  width: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*line-height: 1.5;*/
  font-weight: 400;
  /*border: 1px solid white;*/
  color: white;
  height: 100%;
  width: 100%;
}

.wrapper {
  /*width: 800px;*/
  /*border: 1px solid white;*/
  position: relative;
}

.header {
  margin: 0;
  color: black;
  background-color: #aa1c1c;
  padding: 10px;
  text-align: center;
  position: relative;
  font-style: italic;
  font-weight: bolder;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to left, #000000, #aa1c1c)
}

  .header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, #aa1c1c, #000000)
  }

  span {
    color: white;
  }
  p {
    color: grey;
    font-style: italic;
  }

  .key {
    border: 1px solid green;
  }

label {
  display: flex;
  /*border: 1px solid green;*/
  width: 250px;
  padding-bottom: 5px;
}

input {
  border-radius: 0.5rem;
}

button {
  background-color: grey;
  font-style: italic;
  font-weight: bold;
}


  .filter-nav {
    display: flex;
    justify-content: center;
  }

  .filter-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  .filter-nav a:hover {
    color: #aa1c1c;
    font-weight: bold;
  }

.players {
  border: 1px solid green;
  justify-content: center;
}

.player-info {
  /*border: 1px solid green;*/
  justify-content: center;
}

.name {
  border: 1px solid red;
  display: flex;
}